.DashboardPage {
  display: flex;
  flex-flow: row wrap;
}

.DataModule {
  padding: 4px;
  margin: 4px;
  border-radius: 8px;
  border: solid 1px #555555;
}

.ActivityStateModule {
  font-size: 4em;
  width: 300px;
}

.HeartRateModule {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.HeartRateAndWarning {
}
.HeartRateAndIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* align-self: center; */
}
.HeartRateText {
  font-size: 8em;
}
.HeartContainer {
  width: 100px;
  height: 100px;
}
.HeartRateWarning {
  color: red;
  font-size: 2em;
}

.CurrentTimeText {
  font-size: 4em;
  font-family: "Courier New", Courier, monospace;
}
