.DashboardPage {
  display: flex;
}

.DataModule {
  padding: 4px;
  margin: 4px;
  border-radius: 8px;
  border: solid 1px #555555;
}

.HeartRateModule {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.HeartRateText {
  font-size: 12em;
}
.HeartContainer {
  width: 100px;
  height: 100px;
}

.CurrentTimeText {
  font-size: 4em;
  font-family: "Courier New", Courier, monospace;
}
