.background {
  viewport-fill: #000020;
}

.standardText {
  fill: #ddddff;
  font-size: 24;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: start;
}

#labelStatus {
  fill: #fd9595;
  font-size: 28;
  /* text-anchor: middle; */
}

#labelClock {
  fill: #ffffff;
  font-size: 70;
  font-family: System-Bold;
  font-weight: bold;
  text-anchor: start;
}

.application-fill {
  fill: fb-yellow;
}
.foreground-fill {
  fill: fb-white;
}
.background-fill {
  fill: fb-black;
}
